.flex__container {
    display: flex;
}

.header__logo {
    width: 50px;
    object-fit: contain;
    margin: 0 20px;
}

.header__search {
    display: flex;
    width: 100%;
    margin-right: 10px;
}

.header__searchInput {
    margin-right: -10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
}

.header__option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    color: white;
}

.header__optionBasket {
    color: white;
    display: flex;
    align-items: center;
}

.header__basketCount {
    font-size: 16px;
    font-weight: 600;
    /* margin-bottom: -6px; */
    color: #61dafb;
}

.header__cartIncon {
    color: white;
}
