.checkout__item {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    margin: 4px;
    border-bottom: 1px solid lightgrey;
}

.item__image {
    width: 200px;
}

.item__info {
    width: 240px;
}

.item__title {
    font-size: 18px;
}

.item__price {
    font-weight: 700;
    font-size: 18px;
}